<div id="controlPanel">
  <ul>
    <li><input type="text" name="range" title="numbers from 1 to infinity" value={{dataValue}} (input)="fillDataTable($event)"></li>
    <li><button type="button" (click)="initialDataTableContent()">Generate</button></li>
    <li><button type="button" (click)="randomizeDataTable()">Mix</button></li>
    <li>
      <select title="select sorting option">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </li>
    <li><input type="text" name="deley" title="numbers from 1 to infinity"></li>
    <li><button type="button">Sort!</button></li>
  </ul>

</div>
